<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558836460619-sh0ufr1bqd9t2kdt2qocee1pv01820so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558836460619-sh0ufr1bqd9t2kdt2qocee1pv01820so</string>
	<key>API_KEY</key>
	<string>AIzaSyCM8icSRAuUEkRGTPlPZAUbtrTorLyUKFU</string>
	<key>GCM_SENDER_ID</key>
	<string>558836460619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mk.SkyPlane</string>
	<key>PROJECT_ID</key>
	<string>skyplane-30191</string>
	<key>STORAGE_BUCKET</key>
	<string>skyplane-30191.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558836460619:ios:ab8239c0c4bae45db371ce</string>
</dict>
</plist>